# Auto detect text files and perform LF normalization
* text=auto

# Build
/BetweenTheLines/bin
/BetweenTheLines/obj
/BetweenTheLines/Content/bin
/BetweenTheLines/Content/obj

# Visual Studio
.vs/

# Do not include music for now, as the placeholder tracks are copyrighted.
/BetweenTheLines/Content/Assets/Audio/Music
/BetweenTheLines/Content/bin/DesktopGL/Content/Assets/Audio/Music
